@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 110%;
}

body p {
    font-size: 110%;
}

h1, h2 {
    font-family: 'Bree Serif', sans-serif;
    letter-spacing: 2px;
    font-size: 250%;
}

hr {
    margin: 20px 0;
}

/* logo and navigation bar */
header {
    height: 75px;
    width: 100%;
    background-color: #112378;
    position: fixed;
    top: 0;
    z-index: 2;
}

#logo {
    font-family: 'Lilita One';
    font-size: 250%;
    color: #fffff0;
    float: left;
    margin-left: 5%;
    line-height: 75px;
}

#nav-bar {
    font-size: 150%;
    float: right;
    line-height: 75px;
    margin-right: 5%;
}

#nav-bar li {
    display: inline;
    list-style-type: none;
    margin-right: 50px;
}

#nav-bar a {
    text-decoration: none;
    font-weight: bolder;
    color: #fffff0;
}

#nav-bar-signup-btn {
    border: solid #fffff0;
    border-radius: 25px;
    padding: 10px;
}

/* hero images*/
#hero-outer {
    position: relative;
    height: 700px;
    width: 100%;
    overflow: hidden;
    margin-top: 75px;
}

#hero-text {
    height: 300px;
    width: 400px;
    float: left;
    margin-left: 10%;
    padding-top: 10%;
}

#hero-text a {
    text-decoration: none;
    font-size: 110%;
}

#hero-btn {
    width: 200px;
    height: auto;
    color: #fffff0;
    text-align: center;
    font-weight: bolder;
    border: solid #112378;
    border-radius: 25px;
    background-color: #112378;
    padding: 10px;
}

#hero-image {
    height: 600px;
    width: 50%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: contain;
    overflow: hidden;
    float: right;
    margin-right: 10%;
    padding-top: 10px;
}